:root {
  /* Neutral Colors */
  --neutral-1: hsl(0, 0%, 100%);
  --neutral-2: #50545D;
  --neutral-3: #414250;
  --neutral-4: #23272F;
  --neutral-5: #DBA11C;

  /* Fonts Family */
  --ff-body: 'Poppins', sans-serif;

  /* Fonts Weight */
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;
  --fw-extra-bold: 800;

  /* Font Size */
  --fs-header: 1.75rem;
  --fs-body: 1rem;
}